@font-face {
  font-family: "PPNeueMontreal";
  src: url("/assets/fonts/ppneuemontreal.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "PPNeueMontreal",Arial, sans-serif;
  color: #ffffff;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

button {
  font-family: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}
